<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="WebAPI" value="Customers" />
  <variable name="Server" value="${hostname}" />

  <extensions>
    <!--<add assembly="Logzio.DotNet.NLog"/>  Add Logzio if you want-->
  </extensions>
  
  <targets>
    <!--<target name="logzio" type="Logzio"
                token="TokenDetail"
                logzioType="nlog"
                listenerUrl="https://listener-au.logz.io:8071"
                bufferSize="100"
                bufferTimeout="00:00:05"
                retriesMaxAttempts="3"
                retriesInterval="00:00:02"
                debug="false" />   Logzio Config-->
    <layout includeAllProperties="false"/>
    <target xsi:type="File" name="fileTarget" filename="..\logs\log.txt"></target>
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="filetarget" final="true" />
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
    <logger name="*" minlevel="Info" writeTo="logzio" />
  </rules>
</nlog>